body {
    background-image: url('images/resumeBackgroundImage4.jpg');
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    box-sizing: border-box;
    overflow-y: hidden;
}
h1, h4 {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0%;
}
.fixedPosition {
    background-color: rgba(6, 6, 7, 0.7);
    width: 100%;
    position: fixed;
    z-index: 5;
}
label , input#rangeSlider {
    display: flex;
    justify-content: center;
    margin: auto;

}
.pageOne {
    position: absolute;
    left: 35%;
    top: 10vh;
    background-color: rgba(22, 223, 230,0.5);
    width: 400px;
    box-shadow: 0 0 10px 5px rgb(250, 250, 247);
    z-index: 3;
    border-radius: 1vw;
}
.pageTwo {
    position: absolute;
    left: 25%;
    top: 15vh;
    background-color: rgba(22, 223, 230,0.5);
    width: 400px;
    box-shadow: 0 0 10px 5px rgb(34, 233, 34);
    z-index: 2;
    opacity: 0.2;
    border-radius: 1vw;
}
.pageThree {
    position: absolute;
    left: 15%;
    top: 20vh;
    background-color: rgba(22, 223, 230,0.5);
    width: 400px;
    box-shadow: 0 0 10px 5px rgb(34, 160, 233);
    z-index: 1;
    opacity: 0.1;
    border-radius: 1vw;
}
.center {
    display: flex;
    justify-content: center;
    clear: both;
}
.profileImage {
    width: 140px;
    height: 140px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px grey;
    right: 5px;
}
.fullname {
    position: relative;
    display: block;
    width: 250px;
    text-align: center;
    padding-top: 50px;
}
.name  {
    position: relative;
    font-weight: bold;
    display: block;
    font-size: x-large;
}
.profession  {
    position: relative;
    margin-top: 20px;
    font-weight: bold;
}
.details {
    position: relative;
    margin-top: 50px;
    font-weight: bold;
}
.hobbies-and-interests{
    position: relative;
}
.nextButton {
    position: absolute;
    padding: 0.2vw;
    top: 50%;
    left: 70%;
    background-color: rgba(0, 26, 255,0.1);
    border-radius: 0.25vw;
    font-size: 1vwpx;
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
    color: aliceblue;
    z-index: 4;
}
.nextButton:hover {
    transform: translate(5px);
}
.details, .hobbies-and-interests, .university, .school, .languages, .codingLanguages,.frameworks {
    margin: 25px;
}
@media screen and (max-width: 500px) {
    body {
        overflow-y: scroll;
    }
    .pageOne,.pageTwo,.pageThree  {
        width: 100%;
        opacity: 1;;
    }
    .fullname {
        width: 100%;
    }
    .pageOne, .pageTwo, .pageThree {
        position: relative;
        display: block;
        left: auto;
    }
    .nextButton {
        display: none;
    }
    .profileImage {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    .fullname {
        padding-top:10px ;
    }
    .details {
        margin-top: 20px ;
    }
}

.slider {
    -webkit-appearance: none;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 15px;
  }
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
    border-radius: 50%;
  }